<nav>
        <ul>
                <li><a routerLink="/Employee" href="employeedetail/employeedetail.component.html"
                                routerLinkActive="active">Employee Detail</a></li>
                <li><a routerLink="/company" href="home/home.component.html" routerLinkActive="active">Company
                                Detail</a></li>
                <li><a routerLink="/email" href="login/login.component.html" routerLinkActive="active">Email Verfication
                        </a></li>
        </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>